$container-width: 1200px;
$container-padding: 20px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$primary-background-color: #378EFF;
$secondary-color: #378EFF;
$background-color: #f0f0f0;
$border-color: #ccc;

$input-padding: 0.6rem;
$input-border-radius: 0.25rem;
$input-font-size: 1rem;
$input-color: #333;
$input-border: 1px solid $border-color;
$input-effect-border: 1px solid #000;

