@use '../variables' as *;

.wrapper {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E6EAEF;
    padding: 20px 0;

    .container {
        height: 100%;
        max-width: $container-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        overflow: hidden;
        padding: 0 8px;
        position: relative;
    }

    .scrollBtn {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 20px;
        cursor: pointer;
    }

    .tabs {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        flex: 1;
        gap: 8px;
        padding: 8px 0;
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 10+ */

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            white-space: nowrap;
            padding: 8px 16px;
            border: 1px solid #ccc;
            background: #fff;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                border-color: #919191;
                color: #919191;
                transition: all 0.3s ease;
            }

            &:focus {
                border-color: rgb(187, 18, 18);
                color: rgb(187, 18, 18);
            }

            &.active {
                border-color: rgb(105, 15, 15);
                color: rgb(105, 15, 15);
            }
        }
    }

    .search {
        position: relative;
        width: 200px;

        input {
            height: 30px;

            &:focus {
                outline: none;
                border-color: $input-effect-border;
            }

            &:hover {
                border-color: $input-effect-border;
            }
        }

        .searchBtn {
            position: absolute;
            right: 0rem;
            top: 0;
            padding: $input-padding / 2;
            display: flex;
            align-items: center;
            justify-content: center;
            background: inherit;
            border: none;
            cursor: pointer;
        }

    }
}